.git
.github
.turbo
.vscode
.idea
node_modules
**/node_modules
**/.vite
**/.cache
**/.pytest_cache
**/__pycache__
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
*.pyc
*.pyo
*.pyd
*.log
coverage
htmlcov
tmp
tmp/**
.env
**/.env
**/.env.local
docs
mobile
