SP_ENV=development
SP_API_BASE_URL=http://10.0.2.2:8000
SP_DEFAULT_LOCALE=de
SP_FALLBACK_LOCALE=en
SP_LIGHT_PRIMARY=40,170,170
SP_DARK_PRIMARY=35,200,205
SP_ENABLE_MOCK_AUTH=true
SP_ENABLE_OFFLINE_CACHE=true
